main {
  background-color: var(--main-cream);
  display: flex;
  justify-content: center;
}

.main-content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 0 6%;
  justify-content: space-between;
  max-width: 1440px;
  gap: 1rem;
}

.main-left-content {
  max-width: 740px;
}

.main-left-content h1 {
  font-family: BoldMontserrat;
  font-size: var(--font-h1);
  letter-spacing: -4%;
  line-height: 80px;
}

.main-left-content span {
  color: var(--main-orange);
}

.main-left-content p {
  font-family: mediumMontserrat;
  font-size: var(--font-p);
  letter-spacing: -4%;
  line-height: 36px;
}

.main-txt {
  padding-bottom: 20px;
}

.main-btn {
  padding: 20px 0 40px;
}

.main-icons i {
  border: solid 2px var(--darker-blue);
  border-radius: 1000%;
  padding: 15px 16px;
  font-size: 24px;
}

.main-icons i:hover {
  background-color: var(--darker-blue);
}

.main-icons a {
  color: var(--darker-blue);
}
.main-icons a:hover {
  color: var(--main-cream);
}

.main-right-content img {
  animation: float 4s ease-in-out infinite;
  max-width: 100%;
  height: auto;
  display: block;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media (max-width: 1024px) {
  .main-left-content {
    max-width: 564px;
  }
  .main-left-content h1 {
    line-height: 70px;
  }
  .main-left-content p {
    line-height: 30px;
  }
}

@media (max-width: 768px) {
  .main-right-content img {
    display: none;
  }
}
